
body{
	font-family: 'Open Sans Condensed', sans-serif;
	font-size:20px;
	color: rgba(74,74,74,0.7);
}
header{
	margin:auto;
	width:auto;
	height:80px;
	
	
}

nav{
	display:flex;
	width:100%;
	justify-content: space-around;
	padding-top:10px;
}
nav ul{
	display:flex;
	list-style: none;
}
nav ul li{
	
	font-weight:700;
	cursor: pointer;
	height:30px;
	padding:10px;
}
nav ul li a {
	color: rgba(74,74,74,0.7);
}
nav ul .faq a{
	border-right:2px solid rgba(74,74,74,0.7);
	padding-right:8px;

}
nav ul li:hover{
	color:#000;
}
.menu-icon{
	display:none;
}
.main-top-container{
	text-align:center;
}
.main-top {
	margin:20px
}
.accent{
	color: #ce973e;
}

.curri{
	font-size:18px;
}
.hero{
	margin-top: 30px;
}
.center{
	text-align:center;
}
.how-it-works-top{
	margin-top:40px;
}
.how-it-works{
	margin-top:40px;
	margin-left:3%;
	margin-right: 3%;
}
.how-it-works img{
	height:165px;
}
.curriculum img{
	height: 180px;
}
.curriculum{
  margin-top:50px;
	margin-left: 20%;
	margin-right: 20%;
	padding-bottom:50px;
}
.curr-body{
	background-color: #f3f3f3;
	margin-top:30px;
}
.developer{
	padding-top: 40px;
}
.bottm-curri{
	padding-top: 40px;
}
.stories-container{
	background-color: #e9e4e4;
}
.stories{
	padding-top:50px;
	margin-left:8%;
	margin-right: 8%;
	

}
.stories .story img{
	width: 50px;
    height: 50px;
    border-radius: 50%;
}
.story-item{
	padding-left:15px;
}
.story{
	padding-bottom:30px;
	line-height: 35px;
}
.stories-title{
	padding-bottom: 30px;
}
.links{
	color:#ce973e;
}
a:hover{
	color: #000000;
	text-decoration: none;
}
.more-stories a{
	color: rgba(56, 55, 55, 0.7);
	text-decoration: underline;
}
.sign-up {
	padding:15px 60px;
	font-size:17px;
}
.img-cont{
	display: block;
}

@media (max-width: 400px) {
	.img-cont{
		display: none;
	}
}
@media (max-width: 576px) {
	.footer-links{
		display: none;
	}
}
@media (max-width: 768px) {
	.footer-logo{
		display: none;
	}
	.nav-links{
		display:none;
	}
	.menu-icon{

		display: block;
		height:25px;
		width:25px;
		margin-top:20px;
	}
}

footer{
	margin-top: 80px;
	margin-bottom: 60px;
}
.footer-grid{
	padding-top: 15px;
}
.footer-links ul{
	list-style-type: none;
}
