@import "reset";

@mixin colscommon($n) {

	height: auto;


	width: calc(((100% - 2px * 11) / 12) *#{$n});
	margin-bottom: 5px;
}
@mixin media-breakpoint-up($breakpoint) {
	// Write the media query.
	@media (min-width: ($breakpoint)) {
		@content;
	}
}
.container {
	max-width: 100%;
	margin-right: 15px;
	margin-left: 15px;
}

.row {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	max-width: 100%;
	justify-content: space-around;
}
@include media-breakpoint-up(240px) {
	.row {
		.col-xs-1 {
			@include colscommon(1);
		}
		.col-xs-2 {
			@include colscommon(2);
		}
		.col-xs-3 {
			@include colscommon(3);
		}
		.col-xs-4 {
			@include colscommon(4);
		}
		.col-xs-5 {
			@include colscommon(5);
		}
		.col-xs-6 {
			@include colscommon(6);
		}
		.col-xs-7 {
			@include colscommon(7);
		}
		.col-xs-8 {
			@include colscommon(8);
		}
		.col-xs-9 {
			@include colscommon(9);
		}
		.col-xs-10 {
			@include colscommon(10);
		}
		.col-xs-11 {
			@include colscommon(11);
		}
		.col-xs-12 {
			@include colscommon(12);
		}
	}
}
@include media-breakpoint-up(576px) {
	.row {
		.col-sm-1 {
			@include colscommon(1);
		}
		.col-sm-2 {
			@include colscommon(2);
		}
		.col-sm-3 {
			@include colscommon(3);
		}
		.col-sm-4 {
			@include colscommon(4);
		}
		.col-sm-5 {
			@include colscommon(5);
		}
		.col-sm-6 {
			@include colscommon(6);
		}
		.col-sm-7 {
			@include colscommon(7);
		}
		.col-sm-8 {
			@include colscommon(8);
		}
		.col-sm-9 {
			@include colscommon(9);
		}
		.col-sm-10 {
			@include colscommon(10);
		}
		.col-sm-11 {
			@include colscommon(11);
		}
		.col-sm-12 {
			@include colscommon(12);
		}
	}
}
@include media-breakpoint-up(768px) {
	.row {
		.col-md-1 {
			@include colscommon(1);
		}
		.col-md-2 {
			@include colscommon(2);
		}
		.col-md-3 {
			@include colscommon(3);
		}
		.col-md-4 {
			@include colscommon(4);
		}
		.col-md-5 {
			@include colscommon(5);
		}
		.col-md-6 {
			@include colscommon(6);
		}
		.col-md-7 {
			@include colscommon(7);
		}
		.col-md-8 {
			@include colscommon(8);
		}
		.col-md-9 {
			@include colscommon(9);
		}
		.col-md-10 {
			@include colscommon(10);
		}
		.col-md-11 {
			@include colscommon(11);
		}
		.col-md-12 {
			@include colscommon(12);
		}
	}
}
@include media-breakpoint-up(992px) {
	.row {
		.col-lg-1 {
			@include colscommon(1);
		}
		.col-lg-2 {
			@include colscommon(2);
		}
		.col-lg-3 {
			@include colscommon(3);
		}
		.col-lg-4 {
			@include colscommon(4);
		}
		.col-lg-5 {
			@include colscommon(5);
		}
		.col-lg-6 {
			@include colscommon(6);
		}
		.col-lg-7 {
			@include colscommon(7);
		}
		.col-lg-8 {
			@include colscommon(8);
		}
		.col-lg-9 {
			@include colscommon(9);
		}
		.col-lg-10 {
			@include colscommon(10);
		}
		.col-lg-11 {
			@include colscommon(11);
		}
		.col-lg-12 {
			@include colscommon(12);
		}
	}
}
.row {
	.col-1 {
		@include colscommon(1);
	}
	.col-2 {
		@include colscommon(2);
	}
	.col-3 {
		@include colscommon(3);
	}
	.col-4 {
		@include colscommon(4);
	}
	.col-5 {
		@include colscommon(5);
	}
	.col-6 {
		@include colscommon(6);
	}
	.col-7 {
		@include colscommon(7);
	}
	.col-8 {
		@include colscommon(8);
	}
	.col-9 {
		@include colscommon(9);
	}
	.col-10 {
		@include colscommon(10);
	}
	.col-11 {
		@include colscommon(11);
	}
	.col-12 {
		@include colscommon(12);
	}
}

h1,
h2,
h3,
h4,
h5,
h6 {
	margin-top: 0;
	margin-bottom: 0.5rem;
}

p {
	margin-top: 0;
	margin-bottom: 1rem;
}

ol,
ul,
dl {
	margin-top: 0;
	margin-bottom: 1rem;
}
a {
	color: #007bff;
	text-decoration: none;
	background-color: transparent;
}

a:hover {
	color: #0056b3;
	text-decoration: underline;
}

.btn {
	border-radius: 5px;
	padding:15px 30px;

	color:#fff;
	box-shadow: none;

}
hr {
	box-sizing: content-box;
	height: 0;
	overflow: visible;
}

.img-fluid{
	height:auto;
	max-width: 100%;
}

.btn-primary{
	background-color: #337ab7;
	border-color:#337ab7;
}
.btn-success{
	background-color: #5cb85c;
}
.btn-info{
	background-color: #5bc0de;
	border-color:#5bc0de;

}
.btn-warning{
	background-color: #f0ad4e;
	border-color:#f0ad4e;
}
.btn-danger{
	background-color: #d9534f;
	border-color: #d9534f;

}
.txt-gray{
	color: rgba(74,74,74,0.7);
}
.card{
	 background: #ffffff;
}
