@import "reset";
@import "partials/breakpoint";
@import "partials/breakpoint-240";
@import "partials/breakpoint-576";
@import "partials/breakpoint-768";
@import "partials/breakpoint-992";

@mixin colscommon($n) {

	height: auto;


	width: calc(((100% - 2px * 11) / 12) *#{$n});
	margin-bottom: 5px;
}

.container {
	max-width: 100%;
	margin-right: 15px;
	margin-left: 15px;
}

.row {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	max-width: 100%;
	justify-content: space-around;
}


.row {
	.col-1 {
		@include colscommon(1);
	}
	.col-2 {
		@include colscommon(2);
	}
	.col-3 {
		@include colscommon(3);
	}
	.col-4 {
		@include colscommon(4);
	}
	.col-5 {
		@include colscommon(5);
	}
	.col-6 {
		@include colscommon(6);
	}
	.col-7 {
		@include colscommon(7);
	}
	.col-8 {
		@include colscommon(8);
	}
	.col-9 {
		@include colscommon(9);
	}
	.col-10 {
		@include colscommon(10);
	}
	.col-11 {
		@include colscommon(11);
	}
	.col-12 {
		@include colscommon(12);
	}
}

h1,
h2,
h3,
h4,
h5,
h6 {
	margin-top: 0;
	margin-bottom: 0.5rem;
}

p {
	margin-top: 0;
	margin-bottom: 1rem;
}

ol,
ul,
dl {
	margin-top: 0;
	margin-bottom: 1rem;
}
a {
	color: #007bff;
	text-decoration: none;
	background-color: transparent;
}

a:hover {
	color: #0056b3;
	text-decoration: underline;
}

.btn {
	border-radius: 5px;
	padding:15px 30px;
	border:0;
	color:#fff;
	box-shadow: none;

}
hr {
	box-sizing: content-box;
	height: 0;
	overflow: visible;
}

.img-fluid{
	height:auto;
	max-width: 100%;
}

.btn-primary{
	background-color: #337ab7;
	border-color:#337ab7;
}
.btn-success{
	background-color: #5cb85c;
}
.btn-info{
	background-color: #5bc0de;
	border-color:#5bc0de;

}
.btn-warning{
	background-color: #f0ad4e;
	border-color:#f0ad4e;
}
.btn-danger{
	background-color: #d9534f;
	border-color: #d9534f;

}
.txt-gray{
	color: rgba(74,74,74,0.7);
}
.card{
	 background: #ffffff;
}
